/***===== RESET STYLE =====***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***===== ABOUT PAGE =====***/
/***===== CONTACT PAGE =====***/
/***===== HOME PAGE =====***/

.Home {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Home h1 {
  font-family: "DM Sans";
  padding-left: 1rem;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.Home blockquote {
  font-size: smaller;
}

.Home blockquote {
  border-left: 0.25rem solid aqua;
}

.Home section img {
  height: 100% !important;
  width: 100% !important;
}

.Home section img {
  object-fit: contain !important;
}

/***===== GLOBAL STYLE =====***/
.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
}

p,
ul,
li,
.StackBox > button {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  --font-size: 16px;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  --swiper-navigation-size: 30px;
  --swiper-navigation-width: 1px;
  --swiper-navigation-color: var(--primary);
}

swiper-container::part(button-prev):hover,
swiper-container::part(button-next):hover {
  color: var(--primary-hover);
  --swiper-navigation-size: 35px;
}

swiper-container {
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-color: var(--primary);
  cursor: grabbing;
}

button {
  border-radius: 18px;
  font-size: 0.9em;
}

a:hover,
button:hover {
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

.active {
  background-color: transparent;
}

.BackToTopContainer {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-bottom: -2em;
  padding-right: 1em;
}

.BackToTopContainer span {
  font-size: 1.6em;
  color: var(--primary);
}

.BackToTopContainer span:hover,
.BackToTopContainer span:active {
  font-size: 1.8em;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  color: var(--primary-hover);
  transition: font-size 0.5s;
}

/***===== END GLOBAL STYLE =====***/

/***===== PROJECT*S* PAGE =====***/
.ProjectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5em;
}

.ProjectCard {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  transition: 0.5s;
}

.ProjectCard:hover {
  box-shadow: 0.1px 0.1px 5px var(--muted-color);
}

.StackBox > button {
  margin-top: -0.4em;
  width: fit-content;
  padding: 10px;
  font-size: small;
}

.ProjectDetails > p {
  margin-top: 30px;
  margin-bottom: -2px;
}

.TechStack img {
  height: 45px;
  width: auto;
  margin-right: 5px;
}

.TechStack p {
  color: var(--muted-color);
  font-size: smaller;
  margin-bottom: 10px;
}

article > footer {
  padding: calc(var(--block-spacing-vertical) * 0.3)
    var(--block-spacing-horizontal);
}

/***===== END PROJECT*S* PAGE =====***/

/***===== HEADER =====***/
.Header .active,
.ProjectsName:hover {
  color: aqua;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  transition: color 0.5s;
}

.NameText {
  font-family: "Zilla Slab", serif;
  font-size: 2.3em;
  font-weight: 900;
  font-style: italic;
}

nav {
  height: 8em;
}

/* Menu styles */

details[role="list"] summary::after,
li[role="list"] > a::after {
  width: 0;
  height: 0;
}

#root > div > div.Header > nav > ul:nth-child(2):hover {
  opacity: 1;
}

#root > div > div.Header > nav > ul:nth-child(2) {
  opacity: 0.7;
  transition: opacity 0.4s;
}

#root > div > div.Header > nav > ul:nth-child(2) > li > details > ul:hover {
  opacity: 1;
}

#root > div > div.Header > nav > ul:nth-child(2) > li > details > ul {
  opacity: 0.7;
  transition: opacity 0.5s;
}

[role="link"]:focus,
a:focus {
  background-color: transparent;
}

/***===== END HEADER =====***/

/***===== FOOTER  =====***/

.Footer {
  margin-top: 3em;
  width: inherit;
  box-shadow: inset 0px 10px 8px -14px var(--muted-color);
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer > p {
  color: var(--muted-color);
  text-align: center;
  font-size: small;
  padding: 0;
  margin: 0;
}
/***===== END FOOTER  =====***/

/***===== PROJECT PAGE =====***/
.ProjectDetail {
  border-radius: 8px;
}

.ProjectDetail > article > section > ul {
  padding-left: 2em;
}

.ProjectDetail > article > section > ul > li {
  padding-left: 0.5em;
}

.DemoButton,
.BackToProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.ProjectNavButtons {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}

.ProjectDates > span,
.ProjectDates > p {
  color: var(--muted-color);
  font-size: smaller;
}

.ProjectDates {
  display: flex;
  justify-content: space-between;
  font-size: smaller;
}

.ProjectDetail swiper-container {
  max-width: 650px;
  height: auto;
}

.ProjectSwiperContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TechIcons {
  width: 50px;
  height: auto;
  margin-left: 5px;
}

/***===== END PROJECT PAGE =====***/

/***===== RESUME PAGE =====***/
.EachJob {
  margin-top: 3.5em;
}

.EachJob > p {
  margin-bottom: -2px;
}

.EachJob > ul {
  margin-top: 1.2em;
  margin-bottom: 1em;
  padding-left: 2.5em;
}

.EachJob > ul > li {
  margin-bottom: -20px;
}

.ExperienceText {
  margin-bottom: -50px;
}

.Resume > section {
  margin-bottom: -5px;
}

.TechSkills {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
}
/***===== END RESUME PAGE =====***/

@media screen and (max-width: 600px) {
  .ProjectCard {
    width: 95%;
  }

  .ProjectCard header {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
  .ProjectContainer {
    gap: 0;
  }

  .TechSkills {
    justify-content: left;
  }

  .StackBox > button {
    padding: 0.6em;
  }
  .TechIcons,
  .TechStack img {
    width: 35px;
    height: auto;
    margin-left: 5px;
  }
}

@media screen and (max-width: 800px) {
  .ProjectDetail swiper-container {
    width: 100%;
    height: auto;
  }
  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    --swiper-navigation-size: 25px;
  }

  swiper-container {
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-color: var(--primary-color);
  }

  swiper-container::part(button-prev):hover,
  swiper-container::part(button-next):hover {
    color: var(--primary-hover);
    --swiper-navigation-size: 30px;
  }
}
