/***===== RESET STYLE =====***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***===== CONTACT PAGE =====***/
.Contact {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form,
.email-socials-article {
  width: 60vw;
  margin: 0.5em;
  /* padding: 0; */
}

.contact-form p {
  letter-spacing: 0.4px;
  margin-bottom: 3px;
}

.send-button {
  width: auto !important;
}

.contact-modal-texts {
  text-align: left;
}

.contact-modal-texts p {
  margin-bottom: 10px;
}

.contact-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.contact-modal-header > .material-symbols-outlined {
  margin-top: 1px;
  padding: 0;
}

.Contact-Options div {
  list-style-type: none;
  font-size: medium;
  padding: 0.9rem 0;
  letter-spacing: 1.5px;
  font-weight: 300;
  position: relative;
}

.Contact-Options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
}

.Contact-Options div::after {
  content: "";
  position: absolute;
  background-color: aqua;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}

.Contact-Options div:hover::after {
  transform: scale(1, 1);
}
/***===== HOME PAGE =====***/

.Home {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Home img {
  width: 10rem;
  height: auto;
  margin: 2rem 4rem 0 0;
  border-radius: 50%;
  filter: grayscale(90%);
}

.Home img:hover {
  filter: grayscale(10%);
  transition: filter 1000ms, box-shadow 1000ms;
  box-shadow: 2px 2px 4px 3px var(--muted-color);
}

.Home h1 {
  font-family: "DM Sans";
  padding-left: 1rem;
  font-size: 3em;
  margin-bottom: 0.5em;
  letter-spacing: 5px;
}

.Home blockquote {
  font-size: smaller;
  letter-spacing: 1px;
  border-left: 0.3rem solid aqua;
}

.fade-in {
  animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/***===== ABOUT PAGE =====***/

.About {
  height: auto;
}

.About p,
.About figcaption {
  font-size: smaller;
  letter-spacing: 0.5px;
}

.About h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.About article {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About img {
  height: 480px;
  width: auto;
  margin: 0;
  padding: 0;
  border-radius: 16px;
  filter: grayscale(90%);
}

.About img:hover {
  transition: filter 1000ms, box-shadow 1000ms;
  filter: none;
}

.About figcaption {
  font-size: xx-small;
}

/***===== GLOBAL STYLE =====***/
.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
}

p,
ul,
li,
.StackBox > button {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  --font-size: 16px;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  --swiper-navigation-size: 30px;
  --swiper-navigation-width: 1px;
  --swiper-navigation-color: var(--primary);
}

swiper-container::part(button-prev):hover,
swiper-container::part(button-next):hover {
  color: var(--primary-hover);
  --swiper-navigation-size: 35px;
}

swiper-container {
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-color: var(--primary);
  cursor: grabbing;
}

button {
  border-radius: 18px;
  font-size: 0.9em;
}

a:hover,
button:hover {
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

.active {
  background-color: transparent;
}

.BackToTopContainer {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-bottom: -2em;
  padding-right: 1em;
}

.BackToTopContainer span {
  font-size: 1.6em;
  color: var(--primary);
}

.BackToTopContainer span:hover,
.BackToTopContainer span:active {
  font-size: 1.8em;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  color: var(--primary-hover);
  transition: font-size 0.5s;
}

/***===== END GLOBAL STYLE =====***/

/***===== PROJECT*S* PAGE =====***/

.ProjectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5em;
  background-image: transparent;
}

.ProjectCard {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  transition: 0.5s;
}

.ProjectCard:hover {
  box-shadow: 0.1px 0.1px 5px var(--muted-color);
}

.StackBox > button {
  margin-top: -0.4em;
  width: fit-content;
  padding: 10px;
  font-size: small;
}

.ProjectDetails > p {
  margin-top: 30px;
  margin-bottom: -2px;
}

.TechStack img {
  height: 45px;
  width: auto;
  margin-right: 5px;
}

.TechStack p {
  color: var(--muted-color);
  font-size: smaller;
  margin-bottom: 10px;
}

article > footer {
  padding: calc(var(--block-spacing-vertical) * 0.3)
    var(--block-spacing-horizontal);
}

/***===== END PROJECT*S* PAGE =====***/

/***===== HEADER =====***/
.Header .active,
.ProjectsName:hover {
  color: aqua;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  transition: color 0.5s;
}

.NameText {
  font-family: "Zilla Slab", serif;
  font-size: 2.3em;
  font-weight: 900;
  font-style: italic;
}

nav {
  height: 8em;
}

/* Menu styles */

details[role="list"] summary::after,
li[role="list"] > a::after {
  width: 0;
  height: 0;
}

#root > div > div.Header > nav > ul:nth-child(2):hover {
  opacity: 1;
}

#root > div > div.Header > nav > ul:nth-child(2) {
  opacity: 0.7;
  transition: opacity 0.4s;
}

#root > div > div.Header > nav > ul:nth-child(2) > li > details > ul:hover {
  opacity: 1;
}

#root > div > div.Header > nav > ul:nth-child(2) > li > details > ul {
  opacity: 0.7;
  transition: opacity 0.5s;
}

[role="link"]:focus,
a:focus {
  background-color: transparent;
}

/***===== END HEADER =====***/

/***===== FOOTER  =====***/

.Footer {
  margin-top: 3em;
  width: inherit;
  box-shadow: inset 0px 10px 8px -14px var(--muted-color);
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer > p {
  color: var(--muted-color);
  text-align: center;
  font-size: small;
  padding: 0;
  margin: 0;
}
/***===== END FOOTER  =====***/

/***===== PROJECT PAGE =====***/
.ProjectDetail {
  border-radius: 8px;
}

.ProjectDetail > article > section > ul {
  padding-left: 2em;
}

.ProjectDetail > article > section > ul > li {
  padding-left: 0.5em;
}

.DemoButton,
.BackToProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.ProjectNavButtons {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}

.ProjectDates > span,
.ProjectDates > p {
  color: var(--muted-color);
  font-size: smaller;
}

.ProjectDates {
  display: flex;
  justify-content: space-between;
  font-size: smaller;
}

.ProjectDetail swiper-container {
  max-width: 650px;
  height: auto;
}

.ProjectSwiperContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TechIcons {
  width: 50px;
  height: auto;
  margin-left: 5px;
}

.Tags-Container {
  display: flex;
  font-size: small;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.2rem;
}

.Project-Tags {
  list-style-type: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

/***===== END PROJECT PAGE =====***/

/***===== RESUME PAGE =====***/
.NameLocationDownload {
  display: flex;
  justify-content: space-between;
}

.DownloadResume {
  padding: 0.5em;
  font-size: small;
}

.ProfileBullets {
  margin-top: 1.2em;
  margin-bottom: 2em;
  padding-left: 2.5em;
}

.EachJob {
  margin-top: 3.5em;
}

.EachJob > p {
  margin-bottom: -2px;
}

.EachJob > ul {
  margin-top: 1.2em;
  margin-bottom: 1em;
  padding-left: 2.5em;
}

.EachJob > ul > li {
  margin-bottom: -20px;
}

.ExperienceText {
  margin-bottom: -50px;
}

.Resume > section {
  margin-bottom: -5px;
}

.TechSkills {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
}

.TechnicalCertifications {
  margin-top: 0;
  padding: 0.1em 0;
  margin-bottom: 1em;
}

.TechnicalCertifications li {
  list-style-type: none;
}

/***===== END RESUME PAGE =====***/

@media screen and (max-width: 600px) {
  .ProjectCard {
    width: 95%;
  }

  .ProjectCard header {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
  .ProjectContainer {
    gap: 0;
  }

  .TechSkills {
    justify-content: left;
  }

  .StackBox > button {
    padding: 0.6em;
  }
  .TechIcons,
  .TechStack img {
    width: 35px;
    height: auto;
    margin-left: 5px;
  }
}

@media screen and (max-width: 800px) {
  .ProjectDetail swiper-container {
    width: 100%;
    height: auto;
  }
  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    --swiper-navigation-size: 25px;
  }

  swiper-container {
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-color: var(--primary-color);
  }

  swiper-container::part(button-prev):hover,
  swiper-container::part(button-next):hover {
    color: var(--primary-hover);
    --swiper-navigation-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .Home img {
    margin: 4rem 0 0 0;
    padding: 0;
  }

  .Home blockquote {
    margin-top: 0.5rem;
    font-size: small;
    letter-spacing: 0.5px;
  }

  .Home h1 {
    font-size: xx-large;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-bottom: 0;
    letter-spacing: 3px;
  }

  .About img {
    height: 380px;
    width: auto;
    margin: 0;
    padding: 0;
    border-radius: 16px;
  }

  .About figcaption {
    font-size: x-small;
  }

  .contact-form {
    width: 90vw;
  }
  .email-socials-article {
    width: 90vw;
  }
}
